@page
@model DecoraTeb.Areas.Admin.Pages.Blog.IndexModel
@{
}

@*
    <div class="card">
        <div class="card-header">
           دسته بندی وبلاگ  </h3>

            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="جستجو">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div> *@
<div class="col-12">
    <div class="card shadow-sm">

        <div class="card-header d-flex justify-content-between align-items-center">

            <h3 class="card-title">
                مدیریت مقالات
            </h3>
            <div class="card-tools">
                <a asp-page="Create" class="btn btn-primary">

                    <i class="bi bi-plus-circle"></i>

                    افزودن مقاله

                </a>
            </div>

        </div>

        <div class="card-body">

            <table class="table table-bordered table-hover align-middle">

                <thead>

                    <tr>

                        <th width="70">تصویر</th>

                        <th>عنوان</th>

                        <th>دسته بندی</th>

                        <th>انتشار</th>

                        <th>تاریخ</th>

                        <th width="180">عملیات</th>

                    </tr>

                </thead>

                <tbody>

                    @foreach (var item in Model.Blogs)
                    {

                        <tr>

                            <td>

                                <img src="/uploads/blogs/@item.Image"
                                     width="60" />

                            </td>

                            <td>@item.Title</td>

                            <td>cat</td>

                            <td>

                                @if (item.IsPublished)
                                {
                                    <span class="badge bg-success">
                                        منتشر شده
                                    </span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">
                                        پیش نویس
                                    </span>
                                }

                            </td>

                            <td>

                                @item.PublishDate.ToString("yyyy/MM/dd")

                            </td>

                            <td>

                                <a asp-page="Edit"
                                   asp-route-id="@item.Id"
                                   class="btn btn-warning btn-sm">

                                    ویرایش

                                </a>

                                <form method="post"
                                      asp-page-handler="Delete"
                                      asp-route-id="@item.Id"
                                      class="d-inline">

                                    <button class="btn btn-danger btn-sm">

                                        حذف

                                    </button>

                                </form>

                            </td>

                        </tr>

                    }

                </tbody>

            </table>

        </div>

    </div>
</div>