@using DecoraTeb.ViewModels.Project
@model ProjectDetailVm

<div class="container featured-media">

    <img src="/uploads/projects/@Model.CoverImage"
         class="img-fluid rounded-5 shadow-lg w-100"
         alt="@Model.Title">

</div>