@using DecoraTeb.ViewModels.Project

@model ProjectFormVm

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="row">
    <div class="col-md-6 mb-3">
    <label asp-for="Title" class="form-label">عنوان</label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

    <div class="col-md-6 mb-3">
        <label asp-for="ProjectCategoryId" class="form-label">دسته بندی</label>

        <select asp-for="ProjectCategoryId"
                asp-items="ViewBag.Categories"
                class="form-select">
            <option value="">انتخاب دسته بندی</option>
        </select>

        <span asp-validation-for="ProjectCategoryId"
              class="text-danger"></span>
    </div>
    <div class="col-md-6 mb-3">
    <label asp-for="Summary" class="form-label">خلاصه توضیحات</label>
    <textarea asp-for="Summary" class="form-control" rows="3"></textarea>
</div>


    <div class="col-md-6 mb-3">
    <label asp-for="Description" class="form-label">توضیحات کامل</label>
    <textarea asp-for="Description" class="form-control" rows="6"></textarea>
</div>


    

</div>
<div class="row">

    <div class="col-md-6 mb-3">
        <label asp-for="Location">موقعیت</label>
        <input asp-for="Location" class="form-control" />
    </div>


    <div class="col-md-6 mb-3">
        <label asp-for="Area">متراژ</label>
        <input asp-for="Area" class="form-control" />
    </div>

</div>


<div class="row">

    <div class="col-md-4 mb-3">
        <label asp-for="ExecutionYear">سال اجرا</label>
        <input asp-for="ExecutionYear" class="form-control" />
    </div>


    <div class="col-md-4 mb-3">
        <label asp-for="ClientName">نام مشتری</label>
        <input asp-for="ClientName" class="form-control" />
    </div>


    <div class="col-md-4 mb-3">
        <label asp-for="SortOrder">اولویت</label>
        <input asp-for="SortOrder" class="form-control" />
    </div>

</div>


<div class="form-check mb-4">

    <input asp-for="IsFeatured"
           class="form-check-input" />

    <label asp-for="IsFeatured"
           class="form-check-label">
    </label>

</div>


<div class="form-group">
    <label>تصویر کاور</label>
    <input asp-for="CoverImage" type="file" class="form-control">
</div>

<hr />

<div class="form-group">

    <label>گالری تصاویر پروژه</label>

    <input asp-for="GalleryImages"
           type="file"
           multiple
           class="form-control"
           accept="image/*">

    <small class="text-muted">
        می‌توانید چند تصویر انتخاب کنید.
    </small>

</div>
<hr />

<h5 class="mb-3">تنظیمات SEO</h5>


<div class="mb-3">
    <label asp-for="Slug"></label>
    <input asp-for="Slug" class="form-control" />
</div>


<div class="mb-3">
    <label asp-for="SeoTitle"></label>
    <input asp-for="SeoTitle" class="form-control" />
</div>


<div class="mb-3">
    <label asp-for="SeoDescription"></label>
    <textarea asp-for="SeoDescription"
              class="form-control"></textarea>
</div>


<div class="mb-3">
    <label asp-for="SeoKeywords"></label>
    <input asp-for="SeoKeywords"
           class="form-control" />
</div>


<div class="mb-3">
    <label asp-for="CanonicalUrl"></label>
    <input asp-for="CanonicalUrl"
           class="form-control" />
</div>


<div class="mb-3">
    <label asp-for="Robots"></label>

    <input asp-for="Robots"
           class="form-control" />
</div>

<button class="btn btn-primary">
    ثبت پروژه
</button>